# What is SDMX?
**SDMX**, which stands for *Statistical Data and Metadata eXchange*, is an ISO standard designed to describe statistical data and metadata, normalise their exchange, and improve their efficient sharing across statistical and similar organisations. It provides an integrated approach to facilitating statistical data and metadata exchange, enabling interoperable implementations within and between systems concerned with the exchange, reporting and dissemination of statistical data and their related meta-information.

Resources: https://sdmx.org/?page_id=2555



### pandaSDMX:  Statistical Data and Metadata eXchange in Python

pip install pandaSDMX

[pandaSDMX: Statistical Data and Metadata eXchange in Python](https://pandasdmx.readthedocs.io/en/latest/#)


### Supported data providers

pandaSDMX ships with built-in support for the following agencies (others may be configured by the user):

- Australian Bureau of Statistics (ABS)
- European Central Bank (ECB)
- Eurostat
- French National Institute for Statistics (INSEE)
- Instituto Nacional de la Estadìstica y Geografìa - INEGI (Mexico)
- International Monetary Fund (IMF) - SDMX Central only
- International Labour Organization (ILO)
- Italian statistics Office (ISTAT)
- Norges Bank (Norway)
- Organisation for Economic Cooperation and Development (OECD)
- United Nations Statistics Division (UNSD)
- UNESCO (free registration required)
- World Bank - World Integrated Trade Solution (WITS)

In [33]:
from pandasdmx import Request

In [34]:
eurostat = Request('ESTAT')

In [35]:
flow_response_all = eurostat.dataflow()

In [36]:
flow_response_all.url

'http://ec.europa.eu/eurostat/SDMX/diss-web/rest/dataflow/ESTAT/latest'

In [38]:
flow_response.write().dataflow

                                                  name
dataflow
une_rt_a  Unemployment by sex and age - annual average

## Annual unemployment data 
### for some European countries

All we need to know in advance is the **data provider**, eurostat. 

pandaSDMX makes it super easy to search the directory of dataflows, and analyze the complete structural metadata about the datasets available through the selected dataflow.

In [7]:
flow_response = eurostat.dataflow('une_rt_a')

In [8]:
structure_response = flow_response.dataflow.une_rt_a.structure(request=True, target_only=False)

In [12]:
print (type(structure_response.write()))

<class 'pandasdmx.utils.DictLike'>

In [15]:
print (structure_response.write())

{'codelist':                       dim_or_attr  \
SEX        SEX                  D
           F                    D
           M                    D
           T                    D
AGE        AGE                  D
           TOTAL                D
           Y25-74               D
           Y_LT25               D
GEO        GEO                  D
           AT                   D
           BE                   D
           BG                   D
           CY                   D
           CZ                   D
           DE                   D
           DK                   D
           EA                   D
           EA18                 D
           EA19                 D
           EE                   D
           EL                   D
           ES                   D
           EU25                 D
           EU27                 D
           EU27_2019            D
           EU28                 D
           FI                   D
           FR                   D
           HR                   D
           HU                   D
...                           ...
           US                   D
UNIT       UNIT                 D
           PC_ACT               D
           PC_POP               D
           THS_PER              D
FREQ       FREQ                 D
           A                    D
           D                    D
           H                    D
           M                    D
           Q                    D
           S                    D
           W                    D
OBS_FLAG   OBS_FLAG             A
           b                    A
           c                    A
           d                    A
           e                    A
           f                    A
           i                    A
           n                    A
           p                    A
           r                    A
           s                    A
           u                    A
           z                    A
OBS_STATUS OBS_STATUS           A
           -                    A
           0                    A
           na                   A

                                                                    name
SEX        SEX                                                       SEX
           F                                                     Females
           M                                                       Males
           T                                                       Total
AGE        AGE                                                       AGE
           TOTAL                                                   Total
           Y25-74                                    From 25 to 74 years
           Y_LT25                                     Less than 25 years
GEO        GEO                                                       GEO
           AT                                                    Austria
           BE                                                    Belgium
           BG                                                   Bulgaria
           CY                                                     Cyprus
           CZ                                                    Czechia
           DE           Germany (until 1990 former territory of the FRG)
           DK                                                    Denmark
           EA          Euro area (EA11-2000, EA12-2006, EA13-2007, EA...
           EA18                                 Euro area (18 countries)
           EA19                                 Euro area (19 countries)
           EE                                                    Estonia
           EL                                                     Greece
           ES                                                      Spain
           EU25                            European Union (25 countries)
           EU27         European Union (before the accession of Croatia)
           EU27_2019             European Union (without United Kingdom)
           EU28                     European Union (current composition)
           FI                                                    Finland
           FR                                                     France
           HR                                                    Croatia
           HU                                                    Hungary
...                                                                  ...
           US                                              United States
UNIT       UNIT                                                     UNIT
           PC_ACT                        Percentage of active population
           PC_POP                         Percentage of total population
           THS_PER                                      Thousand persons
FREQ       FREQ                                                     FREQ
           A                                                      Annual
           D                                                       Daily
           H                                                   Half-year
           M                                                     Monthly
           Q                                                   Quarterly
           S                                                 Semi-annual
           W                                                      Weekly
OBS_FLAG   OBS_FLAG                                    Observation flag.
           b                                        break in time series
           c                                                confidential
           d                            definition differs, see metadata
           e                                                   estimated
           f                                                    forecast
           i                                   see metadata (phased out)
           n                                             not significant
           p                                                 provisional
           r                                                     revised
           s                              Eurostat estimate (phased out)
           u                                             low reliability
           z                                              not applicable
OBS_STATUS OBS_STATUS                                Observation status.
           -              not applicable or real zero or zero by default
           0                             less than half of the unit used
           na                                              not available

[78 rows x 2 columns], 'conceptscheme':                                                        name
CS_DSD_une_rt_a NaN         Concept Scheme for DSD_une_rt_a
                AGE                                     AGE
                FREQ                                   FREQ
                GEO                                     GEO
                INDICATORS                       INDICATORS
                OBS_FLAG                  Observation flag.
                OBS_STATUS              Observation status.
                OBS_VALUE                Observation value.
                SEX                                     SEX
                TIME                                   TIME
                UNIT                                   UNIT}

In [17]:
print (structure_response.write().codelist.loc['SEX'].head)

<bound method NDFrame.head of     dim_or_attr     name
SEX           D      SEX
F             D  Females
M             D    Males
T             D    Total>

In [18]:
print (structure_response.write().codelist.loc['AGE'].head)

<bound method NDFrame.head of        dim_or_attr                 name
AGE              D                  AGE
TOTAL            D                Total
Y25-74           D  From 25 to 74 years
Y_LT25           D   Less than 25 years>

In [19]:
print (structure_response.write().codelist.loc['GEO'].head)

<bound method NDFrame.head of           dim_or_attr                                               name
GEO                 D                                                GEO
AT                  D                                            Austria
BE                  D                                            Belgium
BG                  D                                           Bulgaria
CY                  D                                             Cyprus
CZ                  D                                            Czechia
DE                  D   Germany (until 1990 former territory of the FRG)
DK                  D                                            Denmark
EA                  D  Euro area (EA11-2000, EA12-2006, EA13-2007, EA...
EA18                D                           Euro area (18 countries)
EA19                D                           Euro area (19 countries)
EE                  D                                            Estonia
EL                  D                                             Greece
ES                  D                                              Spain
EU25                D                      European Union (25 countries)
EU27                D   European Union (before the accession of Croatia)
EU27_2019           D            European Union (without United Kingdom)
EU28                D               European Union (current composition)
FI                  D                                            Finland
FR                  D                                             France
HR                  D                                            Croatia
HU                  D                                            Hungary
IE                  D                                            Ireland
IS                  D                                            Iceland
IT                  D                                              Italy
JP                  D                                              Japan
LT                  D                                          Lithuania
LU                  D                                         Luxembourg
LV                  D                                             Latvia
MT                  D                                              Malta
NL                  D                                        Netherlands
NO                  D                                             Norway
PL                  D                                             Poland
PT                  D                                           Portugal
RO                  D                                            Romania
SE                  D                                             Sweden
SI                  D                                           Slovenia
SK                  D                                           Slovakia
TR                  D                                             Turkey
UK                  D                                     United Kingdom
US                  D                                      United States>

Download the info just for some countries

In [24]:
resp = eurostat.data('une_rt_a', key={'GEO': 'IT+DE+PL+RO+EU28'}, params={'startPeriod': '2010'})

We use a generator expression to select some columns and write them to a pandas DataFrame

In [25]:
for s in resp.data.series:
    print (s.key)

SeriesKey(UNIT='PC_ACT', AGE='TOTAL', SEX='F', GEO='DE', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='TOTAL', SEX='F', GEO='IT', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='TOTAL', SEX='F', GEO='PL', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='TOTAL', SEX='F', GEO='RO', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='TOTAL', SEX='M', GEO='DE', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='TOTAL', SEX='M', GEO='IT', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='TOTAL', SEX='M', GEO='PL', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='TOTAL', SEX='M', GEO='RO', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='TOTAL', SEX='T', GEO='DE', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='TOTAL', SEX='T', GEO='IT', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='TOTAL', SEX='T', GEO='PL', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='TOTAL', SEX='T', GEO='RO', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='Y25-74', SEX='F', GEO='DE', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='Y25-74', SEX='F', GEO='IT', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='Y25-74', SEX='F', GEO='PL', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='Y25-74', SEX='F', GEO='RO', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='Y25-74', SEX='M', GEO='DE', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='Y25-74', SEX='M', GEO='IT', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='Y25-74', SEX='M', GEO='PL', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='Y25-74', SEX='M', GEO='RO', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='Y25-74', SEX='T', GEO='DE', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='Y25-74', SEX='T', GEO='IT', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='Y25-74', SEX='T', GEO='PL', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='Y25-74', SEX='T', GEO='RO', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='Y_LT25', SEX='F', GEO='DE', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='Y_LT25', SEX='F', GEO='IT', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='Y_LT25', SEX='F', GEO='PL', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='Y_LT25', SEX='F', GEO='RO', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='Y_LT25', SEX='M', GEO='DE', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='Y_LT25', SEX='M', GEO='IT', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='Y_LT25', SEX='M', GEO='PL', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='Y_LT25', SEX='M', GEO='RO', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='Y_LT25', SEX='T', GEO='DE', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='Y_LT25', SEX='T', GEO='IT', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='Y_LT25', SEX='T', GEO='PL', FREQ='A')
SeriesKey(UNIT='PC_ACT', AGE='Y_LT25', SEX='T', GEO='RO', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='TOTAL', SEX='F', GEO='DE', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='TOTAL', SEX='F', GEO='IT', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='TOTAL', SEX='F', GEO='PL', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='TOTAL', SEX='F', GEO='RO', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='TOTAL', SEX='M', GEO='DE', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='TOTAL', SEX='M', GEO='IT', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='TOTAL', SEX='M', GEO='PL', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='TOTAL', SEX='M', GEO='RO', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='TOTAL', SEX='T', GEO='DE', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='TOTAL', SEX='T', GEO='IT', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='TOTAL', SEX='T', GEO='PL', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='TOTAL', SEX='T', GEO='RO', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='Y25-74', SEX='F', GEO='DE', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='Y25-74', SEX='F', GEO='IT', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='Y25-74', SEX='F', GEO='PL', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='Y25-74', SEX='F', GEO='RO', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='Y25-74', SEX='M', GEO='DE', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='Y25-74', SEX='M', GEO='IT', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='Y25-74', SEX='M', GEO='PL', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='Y25-74', SEX='M', GEO='RO', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='Y25-74', SEX='T', GEO='DE', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='Y25-74', SEX='T', GEO='IT', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='Y25-74', SEX='T', GEO='PL', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='Y25-74', SEX='T', GEO='RO', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='Y_LT25', SEX='F', GEO='DE', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='Y_LT25', SEX='F', GEO='IT', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='Y_LT25', SEX='F', GEO='PL', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='Y_LT25', SEX='F', GEO='RO', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='Y_LT25', SEX='M', GEO='DE', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='Y_LT25', SEX='M', GEO='IT', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='Y_LT25', SEX='M', GEO='PL', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='Y_LT25', SEX='M', GEO='RO', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='Y_LT25', SEX='T', GEO='DE', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='Y_LT25', SEX='T', GEO='IT', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='Y_LT25', SEX='T', GEO='PL', FREQ='A')
SeriesKey(UNIT='PC_POP', AGE='Y_LT25', SEX='T', GEO='RO', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='TOTAL', SEX='F', GEO='DE', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='TOTAL', SEX='F', GEO='IT', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='TOTAL', SEX='F', GEO='PL', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='TOTAL', SEX='F', GEO='RO', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='TOTAL', SEX='M', GEO='DE', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='TOTAL', SEX='M', GEO='IT', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='TOTAL', SEX='M', GEO='PL', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='TOTAL', SEX='M', GEO='RO', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='TOTAL', SEX='T', GEO='DE', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='TOTAL', SEX='T', GEO='IT', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='TOTAL', SEX='T', GEO='PL', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='TOTAL', SEX='T', GEO='RO', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='Y25-74', SEX='F', GEO='DE', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='Y25-74', SEX='F', GEO='IT', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='Y25-74', SEX='F', GEO='PL', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='Y25-74', SEX='F', GEO='RO', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='Y25-74', SEX='M', GEO='DE', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='Y25-74', SEX='M', GEO='IT', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='Y25-74', SEX='M', GEO='PL', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='Y25-74', SEX='M', GEO='RO', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='Y25-74', SEX='T', GEO='DE', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='Y25-74', SEX='T', GEO='IT', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='Y25-74', SEX='T', GEO='PL', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='Y25-74', SEX='T', GEO='RO', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='Y_LT25', SEX='F', GEO='DE', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='Y_LT25', SEX='F', GEO='IT', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='Y_LT25', SEX='F', GEO='PL', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='Y_LT25', SEX='F', GEO='RO', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='Y_LT25', SEX='M', GEO='DE', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='Y_LT25', SEX='M', GEO='IT', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='Y_LT25', SEX='M', GEO='PL', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='Y_LT25', SEX='M', GEO='RO', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='Y_LT25', SEX='T', GEO='DE', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='Y_LT25', SEX='T', GEO='IT', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='Y_LT25', SEX='T', GEO='PL', FREQ='A')
SeriesKey(UNIT='THS_PER', AGE='Y_LT25', SEX='T', GEO='RO', FREQ='A')

In [26]:
data = resp.write(s for s in resp.data.series if s.key.AGE == 'TOTAL')

## Explore the data set
### Dimension names:

In [27]:
data.columns.names

FrozenList(['UNIT', 'AGE', 'SEX', 'GEO', 'FREQ'])

### Dimension values:

In [29]:
data.columns.levels

FrozenList([['PC_ACT', 'PC_POP', 'THS_PER'], ['TOTAL'], ['F', 'M', 'T'], ['DE', 'IT', 'PL', 'RO'], ['A']])

Show aggregate unemployment rates across ages and sexes as percentage of active population

In [30]:
data.loc[:, ('PC_ACT', 'TOTAL', 'T')]

GEO           DE    IT    PL   RO
FREQ           A     A     A    A
TIME_PERIOD
2017         3.8  11.2   4.9  4.9
2016         4.1  11.7   6.2  5.9
2015         4.6  11.9   7.5  6.8
2014         5.0  12.7   9.0  6.8
2013         5.2  12.1  10.3  7.1
2012         5.4  10.7  10.1  6.8
2011         5.8   8.4   9.7  7.2
2010         7.0   8.4   9.7  7.0

## Trade in goods, by main world traders

In [34]:
trade_response = eurostat.dataflow('tet00018')

In [33]:
trade_response.

In [27]:
# Download the metadata and expose it as a dict mapping resource names to pandas DataFrames
flow_response = eurostat.dataflow('une_rt_a')

In [28]:
flow_response.url

'http://ec.europa.eu/eurostat/SDMX/diss-web/rest/dataflow/ESTAT/une_rt_a/latest?references=all'

In [9]:
structure_response = flow_response.dataflow.une_rt_a.structure(request=True, target_only=False)

In [10]:
structure_response.write().codelist.loc['GEO'].head()

    dim_or_attr      name
GEO           D       GEO
AT            D   Austria
BE            D   Belgium
BG            D  Bulgaria
CY            D    Cyprus

Next we download a dataset. 

We use codes from the code list ‘GEO’ to obtain data on Greece, Ireland and Spain only.

In [14]:
resp = estat.data('une_rt_a', key={'GEO': 'EL+ES+IE'}, params={'startPeriod': '2007'})

In [15]:
# We use a generator expression to select some columns
# and write them to a pandas DataFrame
data = resp.write(s for s in resp.data.series if s.key.AGE == 'TOTAL')

In [18]:
# Explore the data set. First, show dimension names
data.columns.names

FrozenList(['UNIT', 'AGE', 'SEX', 'GEO', 'FREQ'])

In [19]:
# and corresponding dimension values
data.columns.levels

FrozenList([['PC_ACT', 'PC_POP', 'THS_PER'], ['TOTAL'], ['F', 'M', 'T'], ['EL', 'ES', 'IE'], ['A']])

In [20]:
data

UNIT        PC_ACT                                                 PC_POP  \
AGE          TOTAL                                                  TOTAL
SEX              F                 M                 T                  F
GEO             EL    ES    IE    EL    ES    IE    EL    ES    IE     EL
FREQ             A     A     A     A     A     A     A     A     A      A
TIME_PERIOD
2017          26.1  19.0   6.3  17.8  15.7   7.1  21.5  17.2   6.7   13.6
2016          28.1  21.4   7.6  19.9  18.1   9.1  23.6  19.6   8.4   14.7
2015          28.9  23.6   8.9  21.8  20.8  10.8  24.9  22.1  10.0   15.0
2014          30.2  25.4  10.9  23.7  23.6  12.7  26.5  24.5  11.9   15.4
2013          31.4  26.7  12.4  24.5  25.6  14.9  27.5  26.1  13.8   15.9
2012          28.2  25.1  12.8  21.6  24.6  17.8  24.5  24.8  15.5   14.3
2011          21.5  21.8  12.5  15.2  21.1  17.8  17.9  21.4  15.4   10.8
2010          16.4  20.2  11.4  10.1  19.6  17.2  12.7  19.9  14.6    8.2
2009          13.3  18.1   9.5   7.0  17.7  15.1   9.6  17.9  12.6    6.6
2008          11.5  12.8   5.7   5.1  10.1   7.6   7.8  11.3   6.8    5.5
2007          12.9  10.7   4.9   5.3   6.4   5.0   8.4   8.2   5.0    6.2

UNIT         ...         THS_PER                                               \
AGE          ...           TOTAL
SEX          ...       T       F                     M                      T
GEO          ...      IE      EL      ES     IE     EL      ES     IE      EL
FREQ         ...       A       A       A      A      A       A      A       A
TIME_PERIOD  ...
2017         ...     4.5   554.0  2011.0   68.0  473.0  1906.0   90.0  1027.0
2016         ...     5.6   603.0  2268.0   81.0  528.0  2213.0  114.0  1131.0
2015         ...     6.6   618.0  2497.0   92.0  579.0  2559.0  134.0  1197.0
2014         ...     7.9   639.0  2694.0  111.0  635.0  2916.0  156.0  1274.0
2013         ...     9.1   661.0  2846.0  127.0  669.0  3206.0  182.0  1330.0
2012         ...    10.2   600.0  2680.0  128.0  595.0  3131.0  215.0  1195.0
2011         ...    10.2   456.0  2307.0  126.0  426.0  2706.0  217.0   882.0
2010         ...     9.7   349.0  2104.0  115.0  290.0  2536.0  212.0   639.0
2009         ...     8.6   281.0  1854.0   97.0  204.0  2300.0  194.0   485.0
2008         ...     4.8   237.0  1276.0   58.0  151.0  1320.0  101.0   388.0
2007         ...     3.5   265.0  1020.0   50.0  154.0   826.0   67.0   418.0

UNIT
AGE
SEX
GEO              ES     IE
FREQ              A      A
TIME_PERIOD
2017         3917.0  158.0
2016         4481.0  195.0
2015         5056.0  226.0
2014         5610.0  268.0
2013         6051.0  309.0
2012         5811.0  344.0
2011         5013.0  343.0
2010         4640.0  327.0
2009         4154.0  291.0
2008         2596.0  160.0
2007         1846.0  116.0

[11 rows x 27 columns]

In [21]:
# Show aggregate unemployment rates across ages and sexes as
# percentage of active population
data.loc[:, ('PC_ACT', 'TOTAL', 'T')]

GEO            EL    ES    IE
FREQ            A     A     A
TIME_PERIOD
2017         21.5  17.2   6.7
2016         23.6  19.6   8.4
2015         24.9  22.1  10.0
2014         26.5  24.5  11.9
2013         27.5  26.1  13.8
2012         24.5  24.8  15.5
2011         17.9  21.4  15.4
2010         12.7  19.9  14.6
2009          9.6  17.9  12.6
2008          7.8  11.3   6.8
2007          8.4   8.2   5.0